<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.lulibrary.backgroundbeacons"
    version="0.0.1">

  <name>Background Beacon Detection Plugion</name>
  <description>Proximity Beacon background monitoring for android (supporting iBeacons)</description>
  <license>Apache 2.0</license>

  <js-module src="www/BackgroundBeaconMonitoring.js" name="BackgroundBeaconMonitoring">
    <clobbers target="BackgroundBeaconMonitoring" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BackgroundBeaconManager" >
      <param name="android-package" value="backgroundbeacons.BackgroundBeaconManager"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.BLUETOOTH" />
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <receiver android:name="backgroundbeacons.StartupBroadcastReceiver" >
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED" />
          <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
          <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
        </intent-filter>
      </receiver>
      <service android:enabled="true"
        android:exported="true"
        android:isolatedProcess="false"
        android:label="BackgroundBeaconService"
        android:name="backgroundbeacons.BackgroundBeaconService" />
    </config-file>

    <source-file src="src/android/BackgroundBeaconManager.java" target-dir="src" />
    <source-file src="src/android/BackgroundBeaconService.java" target-dir="src" />
    <source-file src="src/android/StartupBroadcastReceiver.java" target-dir="src" />
    <source-file src="src/android/SharedPreferencesUtility.java" target-dir="src" />
    <source-file src="src/android/BeaconEvent.java" target-dir="src" />
    <source-file src="src/android/BeaconInfo.java" target-dir="src" />
    <source-file src="src/android/BeaconRegion.java" target-dir="src" />
    <source-file src="src/android/BeaconTrackingEvent.java" target-dir="src" />
    <source-file src="src/android/RegionTrackingEvent.java" target-dir="src" />
    <source-file src="src/android/BeaconTrackingService.java" target-dir="src" />
    <source-file src="src/android/BeaconLoggingMonitorNotifier.java" target-dir="src" />
    <source-file src="src/android/MonitoringConsumer.java" target-dir="src" />
    <source-file src="src/android/BeaconLoggingRangeNotifier.java" target-dir="src" />
  </platform>

</plugin>
